<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>搜索引擎</title>
    <link rel="stylesheet" href="/public/css/header.css">
    <link rel="stylesheet" href="/public/css/search.css">
    <link rel="stylesheet" href="/public/css/tuijian.css">
    <link rel="stylesheet" href="/public/css/usually.css">
    <link rel="stylesheet" href="/public/css/net.css">
</head>
<body>
    <div id="page" style="width:100%;height:100%;background:#f1f1f1"></div>
</body>
<script src="/public/js/jquery.js"></script>
<script src="/public/js/index.js"></script>
<script src="/public/js/form.js"></script>
<script src="/public/js/floor.js"></script>
</html>